<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
<link rel="icon" sizes="192x192" href="{{ '/assets/favicon-192x192.png' | relative_url }}">
<title>{% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
{% feed_meta %}
{% seo %}
</head>
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
<header id="masthead">
<a href="{{ '/' | relative_url }}">{{ site.title }}</a>
<nav>
{%- for path in site.header_pages -%}
  {%- assign my_page = site.pages | where: "path", path | first -%}
  {%- if my_page.title -%}
  <a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
  {%- endif -%}
{%- endfor -%}
</nav>
</header>
<main>
{{ content }}
</main>
<footer>
<p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
</footer>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9b56f3bfb54646c79096e0dddb06315e"}'></script>
<!-- End Cloudflare Web Analytics -->
</body>
</html>
